{{create_form}}
<div class="content-section">
    <h2 class="section-title">Artists List</h2>
    
    <div class="table-wrapper">
        <table class="data-table">
            <thead>
                <tr>
                   <th>ID</th>
                    <th>Stage Name</th>
                    <th>First Release</th>
                    <th>Albums</th>
                    <th>Songs</th>
                    <th>Action</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{rows}}
            </tbody>
        </table>
    </div>
    {{pagination}}
</div>